<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <style>
        .container{
            text-align: center;
            width:100%;
            height:100vh;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="insertData">
            <label for="name">Id:</label><br>
            <input type="number" id="name" name="studentId"><br>
            <label for="username">Course Name:</label><br>
            <input type="text" id="username" name="courseName"><br>
            <label for="pwd">Name:</label><br>
            <input type="text" id="pwd" name="studentName">
            <input type="submit" style="display:block; text-align:center;">
        </form>
        <a href="/index">Go back</a>
    </div>
</body>
</html>